<!-- <h1 style="padding-top: 15px; text-align: center; font-family: cairo;">Our Fresh collections</h1> -->
<!--<div class="container">
    <div class="card" *ngFor="let prod of prods">
        <div class="card-body">
        <img class="card-img-top" src="{{prod.pictureUrl}}" alt="Card image cap">
          <h5 class="card-title">{{prod.name}}</h5>
          <p class="card-text">{{prod.productCategory}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price : {{prod.price}}</li>
            <li class="list-group-item">Vendor : {{prod.publisher}}</li>
          </ul>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>-->


 <!-- <div class="container">
    <div class="row">
      <div *ngFor="let prod of filtrprod" class="col-md-3 mb-4">
        <div class="card h-100">
          <a href="/productdetailes/{{prod.id}}">
          <img class="card-img-top" src="{{prod.pictureUrl}}" alt="Card image cap" width="600px" height="300px">
        </a>
          <div class="card-body">
            <h5 class="card-title">{{prod.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price : {{prod.price}}</li>
            <li class="list-group-item">Vendor : <a href="/sellerInfo/{{prod.publisher}}">{{prod.publisher}}</a> </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div> -->

  <section id="team" class="pb-4">
    
    <div class="container mt-3">
      <div class="header">
        <h1 *ngIf="catigoryname.length > 0">Products in {{ catigoryname }}</h1>
        <h1 *ngIf="catigoryname.length === 0">There is nothing here to show</h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col-sm-6 col-md-4" *ngFor="let prod of filtrprod">
          <div class="card-deck" style="height: 600px;">
            <div class="card">
              <a href="/productdetailes/{{prod.id}}">
                <img class="card-img-top" src="{{prod.pictureUrl}}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{prod.name}}</h5>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
                    <p class="card-text"><strong>Category : </strong> <a href="/catigory/{{prod.productCategoryId}}">{{prod.productCategory}}</a></p>
                  </li>
                  <li class="list-group-item list-group-item-success"> 
                    <p class="card-text"><strong>Price : </strong>{{prod.price}}</p>
                  </li>
                  <li class="list-group-item list-group-item-success">
                    <p class="card-text"><strong>Vendor : </strong><a href="/sellerInfo/{{prod.publisher}}">{{prod.publisherdispname}}</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-6 col-md-4" *ngFor="let prod of filtrprod">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card"  >
                                <div class="card-body text-center fw-bold">
                                    <img class="image-flip" src="{{prod.pictureUrl}}" alt="Card image cap">
                                    <h4 class="card-title">{{prod.name}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <a href="/productdetailes/{{prod.id}}">
                                      <h4 class="card-title">{{prod.name}}</h4>
                                    </a>
                                    <p class="card-text"><strong>Category : </strong> <a href="/catigory/{{prod.productCategoryId}}">{{prod.productCategory}}</a></p>
                                    <p class="card-text"><strong>Price : </strong>{{prod.price}}</p>
                                    <p class="card-text"><strong>Vendor : </strong><a href="/sellerInfo/{{prod.publisher}}">{{prod.publisher}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>