@import '~bootstrap/dist/css/bootstrap.css';

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon
{
  color: #c1bebe;
}

.nav-link , .d-flex
{
    margin-left: 2rem;
    font-size: 1.19rem;
}
