<br>
<br>

<section class="vh-50 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h3 class="pt-3 font-whight-bold">Register</h3>

              <form [formGroup]="registerform" >

                <div class="form-group pt-3" [class.error]="registerform.controls['displayName'].dirty && registerform.hasError('required','displayName')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="displayName" type="text" placeholder="displayName" [class.is-invalid]="displayName?.invalid&&displayName?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['displayName'].dirty && registerform.hasError('required','displayName')" class="text-danger">*displayName is required</small>


                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['firstName'].dirty && registerform.hasError('required','firstName')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="firstName" type="text" placeholder="firstName" [class.is-invalid]="firstName?.invalid&&firstName?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['firstName'].dirty && registerform.hasError('required','firstName')" class="text-danger">*email is required</small>


                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['lastName'].dirty && registerform.hasError('required','lastName')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="lastName" type="text" placeholder="lastName"[class.is-invalid]="lastName?.invalid&&lastName?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['lastName'].dirty && registerform.hasError('required','lastName')" class="text-danger">*lastName is required</small>
                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['email'].dirty && registerform.hasError('required','email')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="email" type="email" placeholder="email"[class.is-invalid]="email?.invalid&&email?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['email'].dirty && registerform.hasError('required','email')" class="text-danger">*email is required</small>


                </div>


                <div class="form-group pt-3" [class.error]="registerform.controls['phoneNumber'].dirty && registerform.hasError('required','phoneNumber')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="phoneNumber" type="text" placeholder="phoneNumber"[class.is-invalid]="phoneNumber?.invalid&&phoneNumber?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['phoneNumber'].dirty && registerform.hasError('required','phoneNumber')" class="text-danger">*phoneNumber is required</small>
                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['password'].dirty && registerform.hasError('required','password')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="password" type="password" placeholder="password" [class.is-invalid]="password?.invalid&&password?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['password'].dirty && registerform.hasError('required','password')" class="text-danger">*password is required</small>


                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['confirmPassword'].dirty && registerform.hasError('required','confirmPassword')">
                  <!-- <label>confirmPassword :</label> -->
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                  <input formControlName="confirmPassword" type="password" placeholder="confirmPassword" class="form-control form-control-lg">
                  <small *ngIf="registerform.errors?.['misMatch']" class="text-danger">Password and confirm password not match</small>
                </div>
              </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['city'].dirty && registerform.hasError('required','city')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="city" type="text" placeholder="city"[class.is-invalid]="city?.invalid&&city?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['city'].dirty && registerform.hasError('required','city')" class="text-danger">*city is required</small>
                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['country'].dirty && registerform.hasError('required','country')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="country" type="text" placeholder="country"[class.is-invalid]="country?.invalid&&country?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['country'].dirty && registerform.hasError('required','country')" class="text-danger">*country is required</small>
                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['street'].dirty && registerform.hasError('required','street')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="street" type="text" placeholder="street"[class.is-invalid]="street?.invalid&&street?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['street'].dirty && registerform.hasError('required','street')" class="text-danger">*street is required</small>
                </div>
                <div class="form-group pt-3" [class.error]="registerform.controls['zipCode'].dirty && registerform.hasError('required','zipCode')">
                  <div class="input-field">
                    <!-- <span class="fa fa-lock p-2"></span> -->
                    <input formControlName="zipCode" type="text" placeholder="zipCode"[class.is-invalid]="zipCode?.invalid&&zipCode?.touched" class="form-control form-control-lg">
                  </div>
                  <small *ngIf= "registerform.controls['zipCode'].dirty && registerform.hasError('required','zipCode')" class="text-danger">*zipCode is required</small>
                </div>


                <button type="submit" (click)="onregister()" class="btn btn-outline-light btn-lg px-5">register</button>

              </form>

</div>
<div>
  <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
  </p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>





